* { margin: 0; padding: 0; transition: all 0.2s; }
html { background-color: #F7F7F7; font-family: Monospace; font-size: 12px; line-height: 16px; }

a { text-decoration: none; color: #ff4001; }
a[data-ng-click],a[data-ng-confirm-click] { cursor: pointer; }
h2 { font-size: 22px; line-height: 30px; }
button { border: none; cursor: pointer; background-color: #ff4001; color: #FFF; text-transform: uppercase; font-size: 15px; font-weight: bold; padding: 8px 16px; box-sizing: content-box; margin: 0 2px; }
button:hover { box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4); }
button.secondary { background-color: #CCC; }
a.secondary { color: #CCC; }

input[type="text"], input[type="password"], input[type="url"] { border: solid 1px #BBBBBB; padding: 4px; }

header { background-color: #252525; overflow: hidden; height: 44px; padding: 16px; }
header h1 { font-size: 26px; line-height: 38px; color: #FFF; }
header h1 img { height: 44px; margin-right: 8px; }
header h1 > span { display: inline-block; vertical-align: top; color: #FEFEFE; }
header h1 > span > span { font-size: 0.8em; color: #ff4001; }
header h1 > span > span > sub { vertical-align: baseline;}

header .lng{position:absolute; right:16px; top:16px; color:#FEFEFE;}

footer { position: absolute; bottom: 0; text-align: center; left: 0; right: 0; height: 16px; padding: 16px; color: #FFF; background-color: #252525; }
footer a { color: #FFF; font-weight: bold; }

.container { padding: 16px; overflow: hidden; }

.main > .menu, .main > .content { position: absolute; top: 76px; bottom: 48px; overflow: hidden; }

.main > .menu { background-color: #E1E1E1; left: 0; right: 82%; border-right: 1px solid #BBBBBB; }
.main > .menu > .shop-add { position: absolute; left: 0; right: 0; height: 36px; padding: 16px; bottom: 0; border-top: 1px solid #BBBBBB; text-align: center; background-color: #D6D6D6; }
.main > .menu > .shops { position: absolute; top: 46px; bottom: 69px; left: 16px; right: 0; overflow: auto; }
.main > .menu > .shops .card { margin-left: 0; transition: none; }

.main > .content { left: 18%; right: 0; overflow: auto; }

.sync > .logH, .sync > .consoleH { position: absolute; top: 46px; bottom: 0; overflow: auto; padding: 8px 16px; border-top: 1px solid #BBBBBB; }
.sync > .logH > h3, .sync > .consoleH > h3 { margin-bottom: 24px; }
.sync > .logH { left: 0; right: 50%; border-right: 1px solid #BBBBBB; }
.sync > .consoleH { left: 50%; right: 0; }
.sync > h2 > a.url { float: right; font-size: 0.8em; }

.sync > .logH > .log .smcard { margin-bottom: 0; margin-top: 0; }

.sync > .consoleH h4 { color: #ff2001; font-weight: bold; font-size: 14px; }
.sync > .consoleH > .ctrls { text-align: right; min-width: 124px; box-sizing: border-box; }
.sync > .consoleH > .console .smcard table { border-collapse: collapse; margin: 8px 0 4px 0; }
.sync > .consoleH > .console .smcard table td { padding: 2px 24px 2px 0; font-weight: bold; }
.sync > .consoleH > .console .smcard table td + td { font-weight: normal; }
.sync > .consoleH > .console .smcard { overflow: hidden; }
.sync > .consoleH > .console .smcard .btns { float: right; overflow: hidden; text-align: right; }
.sync > .consoleH > .console .smcard .btns button { display: block; margin: 0 0 4px 0; width: 100%; box-sizing: border-box; min-width: 120px; font-size: 13px; }



input.ng-invalid.ng-touched,form.ng-submitted input.ng-invalid { outline: solid 2px #F00; }
span.ng-invalid{color: #F00;}
.msg { position: fixed; top: 16px; left: 50%; width: 480px; margin-left: -240px; background-color: #FFF; color: #444; padding: 24px; font-size: 16px; box-shadow: 0 0 10px 1px #EAEAEA; border-radius: 3px; border: 2px solid #5cc151; }
.msg.err { border-color: #FAA; }
.msg.ok { border-color: #AFA; }



form ul { list-style: none; }
form ul li { padding: 4px 4px 4px 0; }
form input[type="text"], form input[type="password"], form input[type="url"] { min-width: 280px; }
form ul li label:first-child { display: inline-block; min-width: 148px; }
form ul li input { display: block; }
form ul li input[type="checkbox"] { display: inline; }
form ul li.btns button { margin-left: 0; }


.card { background-color: #FEFEFE; box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.07); margin: 8px 8px 8px 0; padding: 16px 16px; display: block; }
.card:hover { box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4); }

.card > label { color: #ff4001; font-weight: bold; cursor: pointer; }
.card > span { color: rgba(66,66,66,0.8); font-size: 0.9em; }

.shop.card > label { display: block; }
.shop.card > span { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.shop.card.act { background-color: rgba(255, 240, 240, 1); box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4); }

.smcard { background-color: #FEFEFE; box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.07); margin: 4px 4px 4px 0; padding: 4px 4px; display: block; }
.smcard:hover { box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.4); }


.ngSpinner {
  position:fixed;
  top:0;
  left:0;
  right:0;
  height: 4px;
  overflow: hidden;
  background-color: #ddd;
}
.ngSpinner:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #ff4001;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}